
/*------------------------------------------- GENERAL -------------------------------------------------*/

html {
  min-height: 100% !important;
  height: 100%;
}

body {
  background-color: #141414;
  color: #FFF;
  font-family: Hack, monospace;
}

h1,h2,h3,h4,h5 {
  color: #F9EE98;
}

a {
  color: #627396;
}

a:hover {
  color: #4F5E84;
}

a:visited {
  color: #89708C;
}

b {
  color: #8F9D6A;
}

img {
  max-width: 100%;
}

.content {
  padding:30px;
  height:100%;
}

.tags {
  color: #141414;
}

ul.tags  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: visible;
  max-height: 100%;
}

.tags a {
  text-decoration: none;
  color: #141414;
  cursor: pointer;
}

.tags span, .tags li {
  background-color: #C4543B;
  border-radius: 20px;
  padding: 4px;
  font-size: 12px;
  margin: 5px;
}

/*------------------------------------------- COLLAPSE -------------------------------------------------*/

.info {
  margin: 20px;
}

/*------------------------------------------- COLLAPSE -------------------------------------------------*/

.collapse {
  font-size: 31px;
  width: 100%;
  height: 45px;
  background-color: #161719;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.collapse:hover {
  background-color: #666;
}

.collapse + input {
  display:none;
}

.collapse + input + * {
  min-height: 300px;
  -webkit-transition: height 0.5s; /* Safari */
  transition: height 0.5s;
  overflow:hidden;
}

.collapse + input:checked + * {
  min-height:300px;
  -webkit-transition: height 0.5s; /* Safari */
  transition: height 0.5s;
}

/*------------------------------------------- MEDIA -------------------------------------------------*/

@media (min-width: 768px) {

  label.collapse {
    display: none;
  }

  .collapse + input + * {
    min-height:300px;
  }

  .collapse + input:checked + * {
    min-height:300px;
  }

  .sidebar {
    position: fixed;
    height: 100%;
    float: left;
    width: 18em;
  }

  .content{
    margin-left: 22em;
    max-width: 72em;
  }

}

@media (max-width: 767px) { 
  .collapse + input + * {
    max-height: 0px;
    min-height: 0px;
    overflow: hidden;
  }
}
