
/*------------------------------------------- GENERAL -------------------------------------------------*/

html {
  min-height: 100% !important;
  height: 100%;
}

body {
  background-color: #141414;
  color: #FFF;
  font-family: Hack, monospace;
}

h1,h2,h3,h4,h5 {
  color: #F9EE98;
}

a {
  color: #627396;
}

a:hover {
  color: #4F5E84;
}

a:visited {
  color: #89708C;
}

img {
  max-width: 100%;
}

.content {
  padding:30px;
  height:100%;
}

.tags {
  color: #C4543B;
}

/*------------------------------------------- COLLAPSE -------------------------------------------------*/

.collapse {
  font-size: 31px;
  width: 100%;
  height: 45px;
  background-color: #161719;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.collapse:hover {
  background-color: #666;
}

.collapse + input {
  display:none;
}

.collapse + input + * {
  height:0px;
  overflow: hidden;
  -webkit-transition: height 0.5s; /* Safari */
  transition: height 0.5s;
}

.collapse + input:checked + * {
  height:200px;
  -webkit-transition: height 0.5s; /* Safari */
  transition: height 0.5s;
}

/*------------------------------------------- MEDIA -------------------------------------------------*/


@media (min-width: 768px) {

  .sidebar {
    position: fixed;
    height: 100%;
    float: left;
    width: 20em;
  }

  .content{
    margin-left: 20em;
    max-width: 70em;
  }
}
