/*------------------------------------------- GENERAL -------------------------------------------------*/

h1,h2,h3,h4,h5 {
  margin: 20px;
}

.project {
	margin-top: 20px;
}

.images {
	width: 100%;
	padding: 10px;
}

p {
	margin: 20px;
}

/*------------------------------------------- MEDIA -------------------------------------------------*/

@media (min-width: 768px) {

	.images .col-2 {
		width: 48%;
		padding: 5px;
	}

	.images .col-3 {
		width: 30%;
		padding: 5px;
	}
}