<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/font-hack/2.018/css/hack-extended.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta charset=utf-8 />
    <title>JS Bin</title>
</head>
<body>
    <div class="sidebar">
        <div style="text-align:center">
        <a href="/">
            <img src="/images/twimi_logo.svg" alt="" style="width: 220px;" />            
        </a>
        </div>
        <div class="collapse-menu">
            <label class="collapse" for="_1">&#9776;</label>
            <input id="_1" type="checkbox">
            <div>
                <div class="footer">
                    <div class="contact">
                        Mackaber Witckin<br />
                        Master Builder<br />
                        mkbravo555@gmail.com
                    </div>
                </div>
                <div class="contact">
                    <a href="https://github.com/mackaber">github.com/mackaber</a><br />
                    <a href="https://twitter.com/mackaber">twitter.com/mackaber</a><br />
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        {{ content }}
  </div>
</body>
</body>
</html>
